/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Extra small devices (phones, less than 768px) */
@media (min-width: 480px) {
    .size {
        width: 100%;
        margin: 0;
    }
    .test {
         margin: 70px;;
         margin: 0;;
     }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .size {
        width: 100%;
        margin: 0;
    }
    .test {
        margin: 70px;;
        margin: 0;;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .size {
        width: 100%;
        margin: 0;
    }
    .test {
        margin: 40px;;
        margin: 0;;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .size {
        width: 75%;
        margin: 0 115px;
        /*width: 95%;*/
        /*margin: 0 25px;*/
    }
    .test {
        margin: 15px;
        margin: 0;
    }
}