article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

body {
    font: 12px verdana, sans-serif;
}

a {
    text-decoration: none;
}

a:hover,a:focus {
    text-decoration: underline;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    font-size: 12px !important;
}
button:focus,
button::selection{
    outline: none;
}

.dropdown {
    font-size: 12px;
}

.navbar-brand {
    font-size: 24px;
    color: #48c083 !important;
    font-weight: bold;
}

.navbar-form {
    margin-left: auto !important;
    margin-right: auto !important;
}

input.form-control {
    height: 30px;
}

.go {
    color: #fff;
    background-color: #48c083;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}

.container {
    margin: 0 auto;
    padding: 0 83px 0 83px;
}

.container .nav {
    margin-top: 10px;
}

.sort-ul-wrap ul li p {
    margin-right: 30px;
    display: block;
    height: 33px;
    line-height: 33px;
}

.sort {
    padding-top: 20px;
    min-height: 75px !important;
}

.navbar-nav {
    margin-left: 15px;
}

.fuck-off-ad-block {
    margin-top: 70px;
}

.fuck-off-ad-block .well:hover {
    background-color: rgb(240, 240, 240);
}

.img-wrapper {
    height: 170px;
    width: 270px;
}

.img-wrapper img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.fuck-off-ad-block p.status {
    text-align: right;
    font-weight: bold;
}

.fuck-off-ad-block p.title {
    margin-top: 13px;
    text-align: center;
    color: #48c083;
    font-weight: bold;
}

.fuck-off-ad-block p.date {
    text-align: left;
}

.fuck-off-ad-block p.price {
    text-align: right;
    font-weight: bold;
}

.pages {
    margin-bottom: 97px;
}

.pages-user {
    margin: 10px auto 40px;
}

.status {
    font-weight: bold;
    text-align: right;
}

.wrap-title {
    height: 75px;
    width: 100%;
    display: table;
    color: #48c083;
    text-align: center;
}

.wrap-title p {
    display: table-cell;
    vertical-align: middle;
}

.date {
    display: block;
    position: relative;
    width: 50%;
    float: left;
    color: #9d9d9d;
    font-size: x-small;
}

.price {
    float: right;
    font-weight: bold;
}

.date-price-wrap {
    height: 15px;
    width: 100%;
}

.display-block a,
.display-block a:active,
.display-block a:hover,
.display-block a:visited {
    text-decoration: none;
    color: inherit;
}

.display-block .well:hover {
    background-color: rgb(228, 228, 228);
}

.foot {
    margin-top: 87px;
    height: 104px;
    text-align: center;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dislike-btn {
    background-color: #db5450;
    font-family: Roboto, monospace;
    font-size: 15%;
    text-transform: uppercase;
    border: 0;
    border-radius: 6px;
    color: white;
    width: 100px;
    height: 25px;;
    display: inline-block;
    text-align: center;
}

.dislike-btn:hover {
    background-color: #f04238;
}

.dislike-btn:visited,
.dislike-btn:focus {
    outline: none;
}

.user-info-bar {
    margin: 29px 0 0 0;
}

.user-img.thumbnail {
    margin: 0px -15px 0 -15px;

}

.user-img.thumbnail img {
    height: 250px;
    width: 250px;
}

.advert-list-bar {
    margin: 10px -15px 0 0;
}

.advert-list-bar h4 {
    color: #48c083;
    font-size: 18px;
}

.user-advert-lab h4 {
    text-align: center;
    margin: auto;
}

.adv-img-list-item {
    width: 175px;;
    height: 150px;;
}

.adv-img-list-item .media {
    background-color: rgb(228, 228, 228);
}

.user-advert-list {
    margin: 0 0 0 -40px;
}

.feedback-form {
    margin: 0 0 0 15px;
}

.feedback-btn {
    background-color: #48c083;
    font-family: Roboto, monospace;
    font-size: 15%;
    border: 0;
    border-radius: 6px;
    color: white;
    width: 100px;
    height: 25px;;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    float: right;
}

.feedback-btn:hover {
    background-color: #4FCF8E;
}
.feedback-btn:focus {
    outline: none;
}

.user-advert-list .media {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 6px;
}

.user-advert-list .media:hover {
    background-color: rgb(243, 243, 243);
}

.user-advert-list .media a {
    color: #4FCF8E;
}

.feedback-list-bar h3 {
    font-size: 18px;
    text-align: center;
    padding: 0 0 15px 0;
}

.feedback-list-bar h6 {
    font-size: 10px;
    color: #5e5e5e;
    text-align: left;
}

.feedback-input {
    width: 100%;
    min-height: 65px;
    max-width: inherit;
    margin: 10px 0 10px auto;
}

.feedback-form form {
    margin: 0 0 0 -15px;
}

.feedback-img-list-item {
    width: 100px;;
    height: 100px;
}

.divider {
    position: absolute;
    left: 90%;
    top: 10%;
    bottom: 10%;
    border-left: 1px solid #cccccc;
}

.divider-vertical {
    display: inline;
    height: 100%;
    width: 1px;
    border-left: 1px solid #9d9d9d;
    margin: 5px;
}

.feedback-list-bar {
    margin: 0 -15px 0 0;
}

.advert-info-bar hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #cccccc; /* Цвет линии для остальных браузеров */
    background-color: #cccccc; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */

}

.advert-img-bar {
    margin: 15px -15px 0 -15px;
}

.advert-text-bar {
    margin: 15px 0 0 0;
    align-content: center;
}

.advert-text-bar h4.title {
    color: #48c083;
    font-weight: bold;
}

.advert-text-bar h4 {
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.advert-text-bar h5 {
    font-size: 14px;
}

.user-info {
    margin-top: 15px;
    text-align: center;
}

.advert-img {
    height: inherit;
}

.separator-box {
    margin: 50px auto auto auto;
    background: white;
    border: 0;
}

#thumbnail .thumbnail {
    background-color: #f9f9f9;
}

.btn-group p {
    margin: 6px 10px 0 0;
    float: left;
}

nav.category-filter-row {
    padding: 7px;
    margin: 0 0 20px 0;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
}

.btn-group.nav.navbar-nav {
    padding: 0 10px 0 0;
}

ul.dropdown-menu {
    min-width: 100%;
}

ul.nav.navbar-right {
    display: inline-flex;
}
#user-advert-status {
    display: inline-block;
    text-align: left;
    float: left;
}

#user-advert-status h6 {
    color: #c7254e;;
}

#user-advert-price {
    display: inline-block;
    text-align: right;
    float: right;
    font-weight: bold;
}

.user-advert-status-hr {
    margin-bottom: 10px;
    border: 1px solid #e7e7e7;
}

img.media-object.thumbnail.feedback-img-list-item {
    margin: auto;
}